<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLBH</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLBH.styles.css" asp-append-version="true" />
    <style>
        .ul-layout {
            width: 100vw;
            display: flex;
            background-color: yellow;
            align-items: center;
            border: 1px solid black;
        }

        .li-layout {
            height: 50px;
            padding: 0 20px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }

        footer {
            display: flex;
            justify-content: center;
            border: 1px solid black;
            width: 80vw;
            margin: 0 auto;
            margin-top: 40px;
            background-color: cyan;
        }

        a {
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <header>
        <ul class="ul-layout">
            <li class="nav-item li-layout">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item li-layout">
                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
            <li class="nav-item li-layout">
                <a class="nav-link text-dark" asp-area="" asp-page="/ProductPage">Product</a>
            </li>
            <li class="nav-item li-layout">
                <a class="nav-link text-dark" asp-area="" asp-page="/ContactPage">Contact</a>
            </li>
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <a href="https://github.com/nhattVim">nhattVim</a>
    </footer>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
