@using QLBH.Models
@model List<Product>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col">
            @await Html.PartialAsync("_ProductItem", product)
        </div>
    }
</div>